$smaller-circle: "70px";
$small-circle: "80px";
$big-circle: "90px";
$bigger-circle: "100px";
$color-1: #4e89ae;
$color-2: #43658b;
$color-3: #ed6663;
$color-4: #ffa372;
$header-footer-color: #8ccff7;
$hover-color: #444;
$four-hundred: "Images/400.png";
$three-hundred: "Images/300.png";
$two-hundred: "Images/200.png";

*{
    margin: 0;
    padding: 0;
}

.image{
    display: flex;
    justify-content: center;
    background-color: $header-footer-color;
    margin-bottom: 60px;
}

.light-blue, .smaller{
    background-color: $color-1; 
}

.blue, .small{
    background-color: $color-2;
}

.red, .big{
    background-color: $color-3;
}

.yellow, .bigger{
    background-color: $color-4;
}

.smaller{
    width: 70px;
    height: 70px;
}

.small{
    width: 80px;
    height: 80px;
}

.big{
    width: 90px;
    height: 90px;
}

.bigger{
    width: 100px;
    height: 100px;
}

.row{
    width: 100%;
    height: 40px;
}

.circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.circle{
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

footer{
    background-color: $header-footer-color;
    width: 100%;
    height: 50px;
}
