body{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

.logo{
    padding: 15px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.container img{
    width: 32.95vw;
    margin: 0px;
    padding: 0px;
}

.paragraphs {
    display: block;
    font-size: 20px;
    padding: 20px 25px;
}

.paragraphs p:first-child {
    margin-bottom: 50px;
}

footer {
    text-align: center;
    color: white;
    background-color: #232528;
    font-size: larger;
    padding: 30px 0px;
    width: 100%;
    margin: 0px;
}

@media screen and (min-width: 799px) and (max-width: 1246px) {
    .container img{
        width: 33.33vw;
    }
} 

@media screen and (min-width: 479px) and (max-width: 800px) {
    .container img{
        width: 50vw;
    }
} 

@media screen and (max-width: 480px){
    .container img{
        width: 100vw;
    }
} 