/*imports google font*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

/*removing all spacing and setting font for page*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Titillium Web', sans-serif;
}

/*sets size and color of top bar and also turns child elements into flexboxes*/
.top-bar{
    padding: 16px;
    background-color: #1e90ff;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    color: white;
    justify-content: space-between;
}

/*sets y-axis alignment and font size for logo*/
.top-bar h1{
    align-self: center;
    font-size: 28px;
}

/*sets y-axis alignment for searchbar*/
.searchbar{
    align-self: center;
}

/*sets size of text input*/
.searchbar input{
    padding: 10px;
    width: 18vw;
}

/*sets y-axis for buttons*/
.options{
    align-self: center;
}

/*sets color, text-decoration, font-size, and spacing of buttons*/
.options a{
    color: white;
    text-decoration: none;
    margin-right: 12px;
    font-size: 18px;
}

/*sets styling for when button is hovered*/
.options a:hover{
    text-decoration: underline;
}

/*sets elements of the main content div to flexboxes*/
.main {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*sets size of big container*/
.big{
    width: 40vw;
    margin-right: 7px;
    flex-wrap: wrap;
}

/*sets size and spacing of small containers*/
.small{
    flex: 25%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin: 0px 10px 10px 0px;
    flex-wrap: wrap;
}

/*sets stylings for movie title on small containers*/
.small h2{
    font-size: 23px;
    margin-bottom: 10px;
}

/*turns all small containers into flexboxes*/
.small-container{
    display: flex;
    flex-wrap: wrap;
    width: 28%;
}

/*sets height of image in big container*/
.big img{
    height: 37%;
}

/*width of all images*/
img{
    width: 100%;
}

/*styling for details div*/
.details{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: -6px;
}

/*sets font-size for title of movie in deatils div*/
.details h2{
    font-size: 28px;
}

/*sets alignment of x and y axis and spacing of button*/
.button{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 35px;
    margin-bottom: 100px;
}

/*sets color, bg-color, font-size, and radius of button*/
button{
    background-color: #1e90ff;
    border: none;
    color: white;
    padding: 6px 16px;
    border-radius: 3px;
    font-size: 13px;
    transition: 0.3s;
}

/*sets styling for when button is hovered*/
button:hover{
    opacity: 0.8;
    cursor: pointer;
}

/*changes size and spacing of topbar, font-sizes, and images when screen size is between 800px and 1024px*/
@media screen and (min-width: 799px) and (max-width: 1024px) {
    .top-bar{
        padding: 14px;
    }
    
    .top-bar h1{
        font-size: 23px;
    }

    .options a{
        font-size: 15px;
    }

    .searchbar input{
        width: 28vw;
        padding: 8px;
    }
    
    .small-container{
        width: 76%;
    }
    .small{
        flex: 43%;
        margin-top: 16px;
        margin-left: 2px;
    }
    
    .big{
        width: 75%;
        height: 100%;
    }
} 

/*changes size and spacing of topbar, font-sizes, and images when screen size is between 479px and 799px*/
@media screen and (min-width: 479px) and (max-width: 799px) {
    .details h2{
        font-size: 24px;
    }
    
    .details p{
        font-size: 16px;
    }

    .small h2{
        font-size: 20px;
    }

    .small p{
        font-size: 15px;
    }


    .top-bar{
        padding: 12px;
    }
    
    .top-bar h1{
        font-size: 19px;
    }

    .options a{
        font-size: 14px;
        margin-right: 5px;
    }

    .searchbar input{
        width: 28vw;
        padding: 6px;
    }

    .small-container{
        width: 75%;
    }
    .small{
        flex: 35%;
        margin-top: 16px;
        margin-left: 2px;
    }
    
    .big{
        width: 73.3%;
        height: 100%;
    }
}   